<div class="card">
  <div class="title">
    ABOUT ME
  </div>
  <div class="">
    <ul class="wrap">
      <li class="title">
        <span>Work Experience</span>
      </li>
      <li>
        <input type="checkbox" id="s1" name="section" />
        <span class="date">
          <label for="s1">
            2021-06 ~ Present<br>
          </label>
        </span>
        <span class="circle"></span>
        <div class="content">
          <label class="lab" for="s1">Singular Wings</label><br>
          <small>Full Stack Software Engineer</small>
          <p>
            - HEALTHCARE EXPO TAIWAN DECEMBER 02-05 2021 (台灣醫療科技展 12/2-12/5 2021)<br>
            - Group Health Monitoring(群體生理監護系統)<br>
            1. Build with Angular12、Material-UI<br>
            2. Use firebase for authentication<br>
            3. Build i18n (中 / English)<br>
            4. Created real-time dashboard for network monitoring services with socket.io<br>
            5. Customized charts and binded data with ECharts.js.<br>
            6. Embed Google Map with Google Map API. <br>
          </p>
        </div>
      </li>
      <li>
        <input type="checkbox" id="s2" name="section" />
        <span class="date">
          <label for="s2">
            2019-03 ~ 2021-04 <br>
          </label>
        </span>
        <span class="circle"></span>
        <div class="content">
          <label class="lab" for="s2">GreenGold</label><br>
          <small>Backend Developer</small>
          <p>
            - Dealer Management System (經銷商管理系統)<br>
            1. Build with Laravel、Bootstrap<br>
            2. Use an email and sms API <br>
            Using GCP, Linux, Nginx, MySQL<br>
          </p>
        </div>
      </li>
      <li>
        <input type="checkbox" id="s3" name="section" />
        <span class="date">
          <label for="s3">
            2017-08 ~ 2019-01<br>
          </label>
        </span>
        <span class="circle"></span>
        <div class="content">
          <label class="lab" for="s3">Hi-Power Solution Group</label><br>
          <small>Full Stack Software Engineer</small>
          <p>
            - AIoT Taiwan October 09-12 2018 (台灣國際人工智慧暨物聯網展 10/9~10/12 2018)<br>
            Build with HTML, CSS, jQuery, Bootstrap, php, MySQL<br>
            Embed Google Map with Google Map API. <br>
            Embed IPCam, Real Time Streaming Protocol(RTSP即時訊息協定)<br>
            Develop LINE Bot with LINE API<br>
            Customized charts and binded data with Chart.js.<br>
            - Traffic Flow System (車流系統)<br>
            - Rockfall Monitoring System (落石監控系統)<br>
            - Pedestrian Flow System (人流系統)<br>
          </p>
        </div>
      </li>
      <li class="title">
        <span>Education</span>
      </li>
      <li>
        <span class="date">
          2013-09 ~ 2017-06
        </span>
        <span class="circle"></span>
        <div class="school">National Sun Yat-Sen University</div>
        <small>Bachelor of Information Management</small>
      </li>
    </ul>
  </div>
</div>
