<div class="wrap">
  <div class="wrapper">
    <div class="title">
      {{ 'Portfolio_Website' | translate }}
    </div>
    <div class="content flex animate fadeInUp">
      <div>
        <img style="width: 50px;" src="assets/img/github-mark.png">
      </div>
      <div>
        Github page<br>
        {{ 'Personal_online_portfolio' | translate }}
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="subtitle">
      {{ 'Color_Theme' | translate }}
    </div>
    <div class="content animate fadeIn">
      {{ 'Color_Theme_content' | translate }}
      <div class="change-theme">
        <div class="change-theme-items">
          <div class="change-theme-items-item" *ngFor="let theme of themes" (click)="changeTheme(theme)"
            [ngClass]="{'active':theme == localStorageTheme}" [style.background-color]="'var(--theme-'+theme+')'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="subtitle">
      {{ 'Internationalization' | translate }}
    </div>
    <div class="content flex animate fadeIn">
      <div>
        <img class="img-language" src="assets/img/language.gif">
      </div>
      <div [innerHTML]="'Internationalization_content' | translate">
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="subtitle">
      {{ 'Responsive_Web_Design' | translate }}
    </div>
    <div class="content flex-column animate fadeIn">
      <div class="rwd-box">
        <div rwd-box--S> <img src="assets/img/rwd-S2.png"> </div>
        <div rwd-box--L> <img src="assets/img/rwd-L2.png"> </div>
        <div rwd-box--M> <img src="assets/img/rwd-M2.png"> </div>
      </div>
      <div class="rwd-box">
        <div rwd-box--S> <img src="assets/img/rwd-S1.png"> </div>
        <div rwd-box--L> <img src="assets/img/rwd-L1.png"> </div>
        <div rwd-box--M> <img src="assets/img/rwd-M1.png"> </div>
      </div>
    </div>
  </div>
</div>
