<mat-dialog-content>
  <h2>
    {{ 'HiPower.Rockfall_Monitoring_System' | translate }}
  </h2>

  <p>
    {{ 'HiPower.Rockfall.1' | translate }}
  </p>
  <img src="assets/img/hipower-rockfall-1.png">

  <div class="divider"></div>

  <p>
    {{ 'HiPower.Rockfall.2' | translate }}
  </p>
  <img style="width: 170px;" src="assets/img/hipower-rockfall-2.png">

  <div class="divider"></div>

  <p>
    {{ 'HiPower.Rockfall.3' | translate }}
  </p>
  <img style="width: 220px;" src="assets/img/hipower-rockfall-3.png">

</mat-dialog-content>
