<mat-dialog-content>
  <h2>
    {{ 'SingularWings.Beatinfo_Health_Console_System' | translate }}
  </h2>

  <p>
    {{ 'SingularWings.Beatinfo_Health.memo1' | translate }}
  </p>
  <img src="assets/img/swm-1.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title1' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo2' | translate }}
  </p>
  <img src="assets/img/swm-2.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title2' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo3' | translate }}
  </p>
  <img src="assets/img/swm-3.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title3' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo4' | translate }}
  </p>
  <img src="assets/img/swm-4.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title4' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo5' | translate }}
  </p>
  <img style="width: 50%;" src="assets/img/swm-5.webp">

</mat-dialog-content>


