<mat-dialog-content>
  <h2>
    {{ 'SingularWings.Beatinfo_Health_Console_System' | translate }}
  </h2>

  <p>
    {{ 'SingularWings.Beatinfo_Health.memo' | translate }}
  </p>
  <img src="assets/img/swm-1.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title1' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo1' | translate }}
  </p>
  <img src="assets/img/swm-2.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title2' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo2' | translate }}
  </p>
  <img src="assets/img/swm-3.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title3' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo3' | translate }}
  </p>
  <img src="assets/img/swm-4.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title6' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo6' | translate }}
  </p>
  <img src="assets/img/swm-abnormal.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title5' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo5' | translate }}
  </p>
  <img src="assets/img/swm-group.jpg">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title7' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo7' | translate }}
  </p>
  <img src="assets/img/swm-exercise-plan.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title8' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo8' | translate }}
  </p>
  <img src="assets/img/swm-exercise-log.png">
  <p></p>
  <img style="width: 50%;" src="assets/img/swm-exercise-log-1.png">
  <p></p>
  <img style="width: 50%;" src="assets/img/swm-exercise-log-2.png">

  <div class="divider"></div>

  <h3>{{ 'SingularWings.Beatinfo_Health.title4' | translate }}</h3>
  <p>
    {{ 'SingularWings.Beatinfo_Health.memo4' | translate }}
  </p>
  <img style="width: 50%;" src="assets/img/swm-5.webp">

</mat-dialog-content>


