<div class="app-container">
  <div class="app-header">
    <div class="app-header-logo">Lai</div>
    <div class="app-header-navigation">
      <ul class="nav-list">
        <li>
          <a [routerLink]="''" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
            {{ 'Home' | translate }}
          </a>
        </li>
        <li>
          <a [routerLink]="['/portfolio']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
            {{ 'Portfolio' | translate }}
          </a>
        </li>
        <!-- <li>
          <a [routerLink]="['/contact']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
            {{ 'Contact' | translate }}
          </a>
        </li> -->
        <a [matMenuTriggerFor]="menu">
          <icon-language class="s26 nav-link"></icon-language>
        </a>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item *ngFor="let language of languageList" (click)="changeSiteLanguage(language.code)">
            {{ language.label }}
          </button>
        </mat-menu>
      </ul>
    </div>
  </div>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="contact-box">
  <a href="mailto:lai831009@gamil.com">
    <icon-mail class="s26 link"></icon-mail>
  </a>
</div>

<footer>
  <div>© 2023 LAI. All Right Reserved.</div>
</footer>
