:host {
  display: block;
}

.app {
  &-container {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    height        : 100%;
    transition    : .2s;
  }

  &-header {
    background-color: var(--app-header-background);
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    width           : 100%;
    padding         : 16px 24px;
    position        : relative;

    &-logo {
      font-size     : 24px;
      line-height   : 24px;
      // font-weight: 600;
      // font-family: 'Shadows Into Light', cursive;
      // font-family: 'Suez One', serif;
      // font-family: 'Pattaya', sans-serif;
      font-family   : 'Gaegu', cursive;
      cursor        : default;
    }

    &-navigation {
      .nav-list {
        display   : flex;
        flex-wrap : wrap;
        gap       : 1.25rem;
        margin    : 0;
        padding   : 0;
        list-style: none;
      }

      .nav-list li {
        flex-grow: 1;

        a {
          &.active {
            color        : var(--link-color-active);
            border-bottom: 1px solid var(--link-color-active);
          }
        }
      }
    }
  }
}

footer {
  display         : flex;
  -webkit-box-pack: center;
  justify-content : center;
  letter-spacing  : 1px;
  font-size       : 12px;
  color           : var(--app-text-secondary);
  padding         : 1rem 0px 2rem;
  position        : absolute;
  bottom          : 0;
  width           : 100%;
}
