:host {
  display: block;
}

.change-theme {
  margin        : 0 auto;
  padding       : 1rem 2rem;
  display       : flex;
  flex-direction: row-reverse;
  flex-wrap     : wrap;
  gap           : 1rem;

  &-items {
    display    : flex;
    flex-wrap  : wrap;
    gap        : 1rem;
    align-items: center;

    &-item {
      height       : 24px;
      width        : 24px;
      border-radius: 1px;
      cursor       : pointer;
      transition   : all .4s cubic-bezier(.25, .8, .25, 1);

      &.active {
        border-radius: 50% !important;
      }

      &:hover {
        border-radius: 30% !important;
      }
    }
  }
}

.card {
  padding       : 2rem 4rem;
  display       : flex;
  flex-direction: column;

  @media screen and (max-width:576px) {
    padding-left : 1rem;
    padding-right: 1rem;
  }

  .title {
    font-size     : 28px;
    font-weight   : 500;
    letter-spacing: 3px;
  }

  .row {
    padding  : 50px 80px;
    display  : flex;
    flex-wrap: wrap;
    gap      : 1em;

    .col {
      flex     : 1 1 31%;
      min-width: 15rem;

      .skills {
        &-title {
          color      : var(--app-text-secondary);
          font-weight: bold;
          font-size  : 22px;
          line-height: 58px;
        }

        &-items {
          line-height: 28px;
        }
      }
    }
  }

  .content {
    .content--card {
      margin       : 1.5rem 0;
      box-shadow   : var(--box-shadow) 0px 5px 16px -1px;
      padding      : 1rem 2rem;
      border-radius: 5px;
      position     : relative;
      max-height   : fit-content;

      .company {
        line-height: 30px;
        font-weight: bold;
      }

      .responsibility {
        margin-top : 1rem;
        padding-top: 1rem;
        border-top : 1px solid var(--dividing-line);

        &>div {
          display     : block;
          position    : relative;
          padding-left: 16px;

          &>a {
            cursor         : pointer;
            text-decoration: underline;
          }
        }

        &>div:before {
          content            : "";
          position           : absolute;
          left               : 0px;
          top                : 0px;
          width              : 0;
          height             : 0;
          border             : 5px solid transparent;
          border-bottom-color: var(--app-text-secondary);
        }

        &>div:after {
          content         : "";
          position        : absolute;
          left            : 0px;
          top             : 10px;
          width           : 0;
          height          : 0;
          border          : 5px solid transparent;
          border-top-color: var(--app-text-secondary);
        }

        &>h2 {
          margin: 12px 0;
        }

        &>ul {
          margin-top : 8px;
          margin-left: 16px;
          font-size  : 14px;
        }
      }
    }

    .school {
      margin-top: 1rem;

      &>span {
        font-weight: bold;
      }

      &>.time {
        display    : block;
        margin-top : 0.5rem;
        font-weight: normal;
        font-size  : 14px;
      }
    }
  }

  .border-left {
    border-left : solid 2px var(--app-text-secondary);
    padding-left: 0.5rem;
  }
}

small {
  color: var(--app-text-secondary);
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration : 2.5s;
  animation-duration         : 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode        : both;
  -webkit-animation-delay    : 0.5s;
  -moz-animation-delay       : 0.5s;
  animation-delay            : 0.5s;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity          : 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform        : translate3d(0, 100%, 0);
  }

  to {
    opacity          : 1;
    -webkit-transform: none;
    transform        : none;
  }
}

@keyframes fadeInUp {
  from {
    opacity          : 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform        : translate3d(0, 100%, 0);
  }

  to {
    opacity          : 1;
    -webkit-transform: none;
    transform        : none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name        : fadeInUp;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name        : fadeIn;
}
