<div class="change-theme">
  <div class="change-theme-info">
    <span>
      {{ 'Theme_Switching' | translate }}
    </span>
    <!-- Choose your own theme preference -->
  </div>
  <div class="change-theme-items">
    <div class="change-theme-items-item" *ngFor="let theme of themes" (click)="changeTheme(theme)"
      [ngClass]="{'active':theme == localStorageTheme}" [style.background-color]="'var(--theme-'+theme+')'">
    </div>
  </div>
</div>

<!-- 專業 -->
<div class="card bg-secondary">
  <div class="title text-center">
    {{ 'SPECIALITY' | translate }}
  </div>
  <div class="row animate fadeIn">
    <!-- 前端 -->
    <div class="col">
      <div class="skills-title">
        {{ 'Frontend' | translate }}
      </div>
      <div class="skills-items">
        <div class="skills-items--item">
          <img src="assets/img/icons-html.png">
          <span>HTML</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-css.png">
          <span>CSS</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-scss.png">
          <span>SCSS</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-js.png">
          <span>JavaScripe</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-ts.png">
          <span>TypeScript</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-angular.png">
          <span>Angular</span>
        </div>
        <div class="skills-items--item">
          <img style="height: 35px;" src="assets/img/icons-jquery.png">
        </div>
      </div>
    </div>
    <!-- 後端 -->
    <div class="col">
      <div class="skills-title">
        {{ 'Backend' | translate }}
      </div>
      <div class="skills-items">
        <div class="skills-items--item">
          <img src="assets/img/icons-php.png">
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-laravel.png">
          <span>Laravel</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-python.png">
          <span>Python</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-flask.png">
          <span>Flask</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-mysql.png">
          <span>MySQL</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-mongodb.png">
          <span>MongoDB</span>
        </div>
      </div>
    </div>
    <!-- 其他 -->
    <div class="col">
      <div class="skills-title">
        {{ 'Others' | translate }}
      </div>
      <div class="skills-items">
        <div class="skills-items--item">
          <img src="assets/img/icons-nginx.svg">
        </div>
        <div class="skills-items--item">
          <img style="height: 68px;" src="assets/img/icons-apache.png">
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-github.png">
          <span>Git</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-google-cloud-platform.png">
          <span>GCP</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-bootstrap.png">
          <span>Bootstrap</span>
        </div>
        <div class="skills-items--item">
          <img src="assets/img/icons-material.png">
          <span>MaterialUI</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <!-- 學歷 -->
  <div class="title">
    {{ 'Education' | translate }}
  </div>
  <div class="content animate fadeIn">
    <div class="content--card">
      <div class="content--card--title">
        <div class="content--card--title--img">
          <img src="assets/img/nsysu.svg">
        </div>
        <div class="content--card--title--text">
          <span>National Sun Yat-Sen University</span><br>
          <small class="border-left">Bachelor of Information Management</small><br>
          <span class="time">2013-09 ~ 2017-06</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 工作經驗 -->
  <div class="title">
    {{ 'Work_Experience' | translate }}
  </div>
  <small class="border-left">{{ workExperienceTime('2017-08-01') }}</small>
  <div class="content animate fadeIn">
    <div class="content--card">
      <div class="content--card--title">
        <div class="content--card--title--img">
          <img src="assets/img/singularwings.png">
        </div>
        <div class="content--card--title--text">
          <span>SingularWings</span><br>
          <small class="border-left">Full Stack Software Engineer</small><br>
          <span class="time">2021-06 ~ Present</span><br>
          <small class="border-left">{{ workExperienceTime('2021-06-01') }}</small>
        </div>
      </div>
      <div class="responsibility">
        <h2>{{ 'Cloud_Service_Platform' | translate }}</h2>
        <small class="skill">Angular / Flask / MySQL / MongoDB / GCP</small>
        <div>
          <a (click)="openSwmConsoleDialog()">
            {{ 'SingularWings.Beatinfo_Health_Console_System' | translate }}
          </a>
        </div>
        <div>
          {{ 'SingularWings.Health_Center_Console_System' | translate }}
        </div>
        <!-- <h2>{{ 'Exhibition_and_event' | translate }}</h2>
        <div>
          2023 DEC.<br>
          {{ 'SingularWings.Exhibition_and_event1' | translate }}
        </div>
        <div>
          2023 NOV.<br>
          {{ 'SingularWings.Exhibition_and_event2' | translate }}<br>
          2022 NOV.<br>
          {{ 'SingularWings.Exhibition_and_event3' | translate }}<br>
          2021 DEC.<br>
          {{ 'SingularWings.Exhibition_and_event2' | translate }}
        </div> -->
        <!-- <h2>{{ 'Work_content' | translate }}</h2>
        <ul>
          <li>{{ 'SingularWings.work_content.1' | translate }}</li>
          <li>{{ 'SingularWings.work_content.2' | translate }}</li>
          <li>{{ 'SingularWings.work_content.3' | translate }}</li>
          <li>{{ 'SingularWings.work_content.4' | translate }}</li>
          <li>{{ 'SingularWings.work_content.5' | translate }}</li>
        </ul> -->
      </div>
    </div>

    <div class="content--card">
      <div class="content--card--title">
        <div class="content--card--title--img">
          <img src="assets/img/gdtw.jpeg">
        </div>
        <div class="content--card--title--text">
          <span>GreenGold</span><br>
          <small class="border-left">Backend Developer</small><br>
          <span class="time">2019-03 ~ 2021-04</span><br>
          <small class="border-left">{{ workExperienceTime('2019-03-01','2021-04-15') }}</small>
        </div>
      </div>
      <div class="responsibility">
        <h2>{{ 'Cloud_Service_Platform' | translate }}</h2>
        <small class="skill">Laravel / MySQL / Docker / GCP</small>
        <div>
          {{ 'GreenGold.Dealer_Backend_Management_System' | translate }}
        </div>
        <div>
          {{ 'GreenGold.Dealer_Member_Shopping_System' | translate }}
        </div>
        <!-- <h2>{{ 'Work_content' | translate }}</h2>
        <ul>
          <li>{{ 'GreenGold.work_content.1' | translate }}</li>
          <li>{{ 'GreenGold.work_content.2' | translate }}</li>
          <li>{{ 'GreenGold.work_content.3' | translate }}</li>
        </ul> -->
      </div>
    </div>

    <div class="content--card">
      <div class="content--card--title">
        <div class="content--card--title--img">
          <img src="assets/img/Hi-Power.gif">
        </div>
        <div class="content--card--title--text">
          <span>Hi-Power Solution Group</span><br>
          <small class="border-left">Full Stack Software Engineer</small><br>
          <span class="time">2017-08 ~ 2019-01</span><br>
          <small class="border-left">{{ workExperienceTime('2017-08-01','2019-01-15') }}</small>
        </div>
      </div>
      <div class="responsibility">
        <h2>{{ 'Cloud_Service_Platform' | translate }}</h2>
        <small class="skill">HTML / jQuery / php / NodeJS / MySQL</small>
        <div>
          <a (click)="openHipowerTrafficFlowDialog()">
            {{ 'HiPower.Traffic_Flow_System' | translate }}
          </a>
        </div>
        <div>
          <a (click)="openHipowerRockfallDialog()">
            {{ 'HiPower.Rockfall_Monitoring_System' | translate }}
          </a>
        </div>
        <div>
          <a (click)="openHipowerPedestrainFlowDialog()">
            {{ 'HiPower.Pedestrian_Flow_System' | translate }}
          </a>
        </div>
        <div>
          <a (click)="openHipowerOtherDialog()">
            {{ 'HiPower.Other' | translate }}
          </a>
        </div>
        <!-- <h2>{{ 'Exhibition_and_event' | translate }}</h2>
        <div>
          2018 Oct.<br>
          {{ 'HiPower.Exhibition_and_event1' | translate }}
        </div> -->
        <!-- <h2>{{ 'Work_content' | translate }}</h2>
        <ul>
          <li>{{ 'HiPower.work_content.1' | translate }}</li>
          <li>{{ 'HiPower.work_content.2' | translate }}</li>
          <li>{{ 'HiPower.work_content.3' | translate }}</li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
