:host {
  display: block;
}

.change-theme {
  margin        : 0 auto;
  padding       : 1rem 2rem;
  display       : flex;
  flex-direction: row-reverse;
  flex-wrap     : wrap;
  gap           : 1rem;

  &-items {
    display    : flex;
    flex-wrap  : wrap;
    gap        : 1rem;
    align-items: center;

    &-item {
      height       : 24px;
      width        : 24px;
      border-radius: 1px;
      cursor       : pointer;
      transition   : all .4s cubic-bezier(.25, .8, .25, 1);

      &.active {
        border-radius: 50% !important;
      }

      &:hover {
        border-radius: 30% !important;
      }
    }
  }
}

.card {
  padding       : 2rem 4rem;
  display       : flex;
  flex-direction: column;

  @media screen and (max-width:576px) {
    padding-left : 1rem;
    padding-right: 1rem;
  }

  .title {
    font-size     : 28px;
    font-weight   : 500;
    letter-spacing: 3px;
  }

  .row {
    padding  : 50px 80px;
    display  : flex;
    flex-wrap: wrap;
    gap      : 1em;

    .col {
      flex     : 1 1 31%;
      min-width: 15rem;

      .skills {
        &-title {
          color      : var(--app-text-secondary);
          font-weight: bold;
          font-size  : 22px;
          line-height: 58px;
        }

        &-items {
          display       : flex;
          flex-direction: column;

          &--item {
            display          : flex;
            flex-direction   : row;
            align-items      : center;
            // border        : 1px solid var(--c-dark);
            // border-radius : 10px;
            width            : fit-content;
            margin           : 8px 0;

            img {
              height : 50px;
              padding: 3px 10px 3px 0;
            }
          }
        }
      }
    }
  }

  .content {
    .content--card {
      margin       : 1.5rem 0;
      box-shadow   : var(--box-shadow) 0px 5px 16px -1px;
      padding      : 1rem 2rem;
      border-radius: 5px;
      position     : relative;
      max-height   : fit-content;

      &--title {
        font-weight   : bold;
        margin-top    : 1rem;
        display       : flex;
        flex-direction: row;
        gap           : 1.5rem;

        @media screen and (max-width:576px) {
          flex-direction: column;
        }

        &--img {
          display    : flex;
          align-items: center;
          width      : 80px;

          img {
            display: block;
            width  : 100%;
          }
        }

        &--text {
          line-height: 28px;

          &>.time {
            font-weight: normal;
            font-size  : 14px;
          }
        }
      }

      .responsibility {
        margin-top : 1rem;
        padding-top: 1rem;
        border-top : 1px solid var(--dividing-line);

        &>div {
          display     : block;
          position    : relative;
          padding-left: 16px;

          &>a {
            cursor         : pointer;
            text-decoration: underline;
          }
        }

        &>div:before {
          content            : "";
          position           : absolute;
          left               : 0px;
          top                : 0px;
          width              : 0;
          height             : 0;
          border             : 5px solid transparent;
          border-bottom-color: var(--app-text-secondary);
        }

        &>div:after {
          content         : "";
          position        : absolute;
          left            : 0px;
          top             : 10px;
          width           : 0;
          height          : 0;
          border          : 5px solid transparent;
          border-top-color: var(--app-text-secondary);
        }

        &>h2 {
          margin: 12px 0;
        }

        &>ul {
          margin-top : 8px;
          margin-left: 16px;
          font-size  : 14px;
        }
      }
    }
  }

}

.border-left {
  border-left : solid 2px var(--app-text-secondary);
  padding-left: 0.5rem;
}

small {
  color: var(--app-text-secondary);
}
